
.incorrect, .btn.incorrect:hover, .btn.incorrect:focus {
  background-color:  #ff8080;
}

.word-button {
  margin-top: 10px;
}

.lower-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

#submit-button, #submit-button:hover, #submit-button:focus {
  background-color: #e6ccff;
}

h2 {
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  background-color: #e6ccff;
}
